
  #partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 220px;
    min-width: 220px;
  }
  
  #divInner{
    left: 0;
    position: sticky;
  }
  
  #divOuter{
    width: 190px; 
    overflow: hidden;
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px #1b1c22 inset !important;
    }
    input:-webkit-autofill {
      -webkit-text-fill-color: white !important;
    }
    input {
      background-color: #00000000;
      border-style: none;
     // max-width: 360px;
     // width: 100%;
      color: #fff;
    }
    div {
        color: #e63131;
        
    }
    span {
      color: #d7e2ed;
    }
  }